In [5]:
import pandas as pd
import sqlite3
import pandas as pd
conn = sqlite3.connect("data/flights.db")
cur = conn.cursor()

OperationalError: unable to open database file

In [6]:
#Select the first 10 genres from books using PostgreSQL
SELECT genre 
FROM books 
LIMIT 10

SyntaxError: invalid syntax (<ipython-input-6-36b42c7e0d8e>, line 2)

In [ ]:


#Count the total number of records in the people table, aliasing the result as count_records.
#Count the number of records in the people table

SELECT COUNT(*) AS count_recordS
FROM people

# Count the number of records with a birthdate in the people table, aliasing the result as count_birthdate.
SELECT COUNT(birthdate) AS count_birthdate
FROM people


#Count the records for languages and countries in the films table; alias as count_languages and count_countries.
#Count the records for languages and countries represented in the films table


SELECT COUNT(DISTINCT language) AS count_languages, 
       COUNT(DISTINCT country) AS count_countries
FROM films

#Return the unique countries represented in the films table using DISTINCT.
SELECT DISTINCT country
FROM films;


#Count the distinct countries from the films table

SELECT COUNT(DISTINCT country) AS count_distinct_countries
FROM films

In [3]:



#Select the film_id and imdb_score from the reviews table and filter on scores higher than 7.0.

SELECT film_id, imdb_score
FROM reviews
WHERE imdb_score>7.0

#Select the film_id and facebook_likes of the first ten records with less than 1000 likes from the reviews table.

SELECT film_id,facebook_likes
FROM reviews
WHERE facebook_likes<1000
LIMIT 10


#Count how many records have a num_votes of at least 100,000; use the alias films_over_100K_votes.

SELECT COUNT(num_votes) AS films_over_100K_votes
FROM reviews
WHERE  num_votes >= 100000


#Select and count the language field using the alias count_spanish.
#Apply a filter to select only Spanish from the language field.

SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish';

SyntaxError: invalid syntax (<ipython-input-3-9b215f022a55>, line 3)

In [ ]:
# 'AND', 'OR', 'BETWEEN'

#Select the title and release_year for all German-language films released before 2000.

SELECT title, release_year
FROM films
WHERE language = 'German'
AND release_year < 2000



#Update the query from the previous step to show German-language films released after 2000 rather than before.


SELECT *
FROM films
WHERE language = 'German'
AND   release_year > 2000 ;


#Select all details for German-language films released after 2000 but before 2010 using only WHERE and AND.


SELECT *
FROM films
WHERE language = 'German'
AND release_year > 2000 
AND release_year <2010;



#Select the title and release_year for films released in 1990 or 1999 using only WHERE and OR.

    
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)

# Add a filter to see only English or Spanish-language films
AND (language = 'English' OR language = 'Spanish');

#-- Filter films with more than $2,000,000 gross
AND  gross>2000000;

In [ ]:
#Select the title and release_year of all films released between 1990 and 2000 (inclusive) using BETWEEN.

SELECT title, release_year
FROM films
Where release_year BETWEEN 1990 AND 2000

#Build on your previous query to select only films with a budget over $100 million.
AND budget>100000000;

#Restrict the query to only Spanish-language films
AND language = 'Spanish';

#Amend the query to include Spanish or French-language films
AND (language = 'Spanish' OR language = 'French');

In [4]:
#

In [ ]:
#use of "LIKE" and  "NOT LIKE"

#Select the names of all people whose names begin with 'B'.

SELECT name
FROM people
WHERE name LIKE 'B_ _%'

#Select the names of people whose names have 'r' as the second letter.

SELECT name
FROM people
WHERE name Like '_r%'

#Select the names of people whose names don't start with 'A'.

SELECT name
FROM people
#Select names that don't start with A
WHERE name NOT LIKE 'A__%'

In [ ]:
#using "BETWEEN", "IN", "AND", 


#Select the title and release_year of all films released in 1990 or 2000 that were longer than two hours.
#Find the title and release_year for all films over two hours in length released in 1990 and 2000
SELECT title, release_year
FROM films 
WHERE release_year IN (1990, 2000)
AND duration > 120


#Select the title and language of all films in English, Spanish, or French using IN.
#-- Find the title and language of all films in English, Spanish, and French
SELECT title, language
FROM films
Where language IN ('English','Spanish','French')


#Select the title, certification and language of all films certified NC-17 or R that are in English, Italian, or Greek.
#-- Find the title, certification, and language all films certified NC-17 or R that are in English, Italian, or Greek

SELECT title, certification, language
FROM films
WHERE certification IN ('NC-17', 'R')
AND language IN ('English','Italian','Greek')


#Count the unique titles from the films database and use the alias provided.
#Filter to include only movies with a release_year from 1990 to 1999, inclusive.
#Add another filter narrowing your query down to English-language films.
#Add a final filter to select only films with 'G', 'PG', 'PG-13' certifications.

#-- Count the unique titles
SELECT COUNT(DISTINCT title) AS nineties_english_films_for_teens
FROM films
#-- Filter to release_years to between 1990 and 1999
WHERE release_year BETWEEN 1990 AND 1999
#-- Filter to English-language films
AND language = 'English'
#-- Narrow it down to G, PG, and PG-13 certifications
AND  certification IN ('G','PG','PG-13');